section(
    class="columns settings"
)
    div(
        class="column"
    )
        h1(
            class="title has-text-white"
        ) {{ $t('settings.title') }}

        //- div(
        //-     class="columns"
        //- )
        //-     div(
        //-         class="column"
        //-     )
        //-         div(
        //-             class="select"
        //-         )
        //-             label 
        //-                 span {{ $t('settings.i18n.title') }}
        //-                 select(
        //-                     v-model="i18n"
        //-                 )
        //-                     option(
        //-                         value="en"
        //-                     ) {{ $t('settings.i18n.english') }}
        //-                     option(
        //-                         value="de"
        //-                     ) {{ $t('settings.i18n.german') }}
        //-     div(
        //-         class="column"
        //-     )
        section(
            class="columns"
        )
            div(
                class="column"
            )
                b {{ $t('settings.mode.title') }} 
                .switch
                    label(
                        id="mode_0"
                    )   {{ $t('settings.mode.defaultMode') }} 
                        input(
                            for="mode_0"
                            type="radio"
                            value="0"
                            v-model="mode"
                            name="mode"
                        )
                        .switch-box.border
                            .switch-toggle(
                                :class="[{'active': (mode == 0) }]"
                            )
                .switch
                    label(
                        id="mode_1"
                    )   {{ $t('settings.mode.multipleChoiceMode') }} 
                        input(
                            for="mode_1"
                            type="radio"
                            value="1"
                            v-model="mode"
                            name="mode"
                        )
                        .switch-box.border
                            .switch-toggle(
                                :class="[{'active': (mode == 1) }]"
                            )

                .switch
                    label(
                        id="mode_2"
                    )   {{ $t('settings.mode.vocabularyMode') }} 
                        input(
                            for="mode_2"
                            type="radio"
                            value="2"
                            v-model="mode"
                            name="mode"
                        )
                        .switch-box.border
                            .switch-toggle(
                                :class="[{'active': (mode == 2) }]"
                            )            
            template(
                v-if="mode < 2"
            )
                div(
                    class="column"
                )
                    b {{ $t('settings.charset') }} 
                    .switch
                        label(
                            id="charset_0"
                        )   Hiragana
                            input(
                                for="charset_0"
                                type="checkbox"
                                value="Hiragana"
                                v-model="computedCharset"
                                name="charset"
                            )
                            .switch-box.border
                                .switch-toggle(
                                    :class="[{'active': charsetHiragana }]"
                                )
                    .switch
                        label(
                            id="charset_1"
                        )   Katakana
                            input(
                                for="charset_1"
                                type="checkbox"
                                value="Katakana"
                                v-model="computedCharset"
                                name="charset"
                            )
                            .switch-box.border
                                .switch-toggle(
                                    :class="[{'active': charsetKatakana }]"
                                )
            template(
                v-else
            )
                div(
                    class="column"
                )
                    b &nbsp;
                    .switch
                        label(
                            @click="vocabularyMode = !vocabularyMode"
                            id="reverse-vocabulary-mode"
                        )   {{ $t('settings.mode.vocabularyWriteMode') }} 
                            .switch-box.border
                                .switch-toggle(
                                    :class="[{'active': (vocabularyMode == 1) }]"
                                )
